USE [master]
GO
/****** Object:  Database [SAM4]    Script Date: 24.02.2025 12:56:19 ******/
CREATE DATABASE [SAM4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAM4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SAM4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAM4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SAM4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAM4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAM4]
GO
/****** Object:  Table [dbo].[comment_materials]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_materials](
	[material_id] [bigint] NOT NULL,
	[comment_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[comment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](50) NOT NULL,
	[date_create] [date] NOT NULL,
	[author_id] [bigint] NOT NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[department_id] [bigint] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](50) NOT NULL,
	[department_description] [nvarchar](max) NOT NULL,
	[department_boss_id] [bigint] NULL,
 CONSTRAINT [PK_departments] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [bigint] IDENTITY(1,1) NOT NULL,
	[department_id] [bigint] NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[patronymic] [nvarchar](50) NOT NULL,
	[birth_date] [date] NOT NULL,
	[post] [nvarchar](50) NOT NULL,
	[office] [nvarchar](50) NOT NULL,
	[personal_phone] [nvarchar](50) NOT NULL,
	[work_phone] [nvarchar](50) NOT NULL,
	[qual_lvl] [nvarchar](50) NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NULL,
	[corporative_email] [nvarchar](50) NOT NULL,
	[manager_id] [bigint] NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_materials]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_materials](
	[event_id] [bigint] NOT NULL,
	[material_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_types]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_types](
	[type_event_id] [bigint] IDENTITY(1,1) NOT NULL,
	[type_event_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_event_types] PRIMARY KEY CLUSTERED 
(
	[type_event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[event_id] [bigint] IDENTITY(1,1) NOT NULL,
	[event_description] [nvarchar](max) NOT NULL,
	[type_event_id] [bigint] NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NOT NULL,
	[employee_id] [bigint] NOT NULL,
 CONSTRAINT [PK_events] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidents]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidents](
	[incident_id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NOT NULL,
	[author_id] [bigint] NOT NULL,
 CONSTRAINT [PK_incidents] PRIMARY KEY CLUSTERED 
(
	[incident_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidents_responsible_persons]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidents_responsible_persons](
	[incident_id] [bigint] NOT NULL,
	[employee_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[managers]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[managers](
	[manager_id] [bigint] NOT NULL,
	[employee_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materials]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materials](
	[material_id] [bigint] IDENTITY(1,1) NOT NULL,
	[author_id] [bigint] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[type_material] [nvarchar](50) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[date_start] [date] NOT NULL,
 CONSTRAINT [PK_materials] PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[news_id] [bigint] IDENTITY(1,1) NOT NULL,
	[date_news] [date] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[path_to_photo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_news] PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sub_departments]    Script Date: 24.02.2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_departments](
	[main_department_id] [bigint] NOT NULL,
	[sub_department_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[comment_materials] ([material_id], [comment_id]) VALUES (1, 1)
INSERT [dbo].[comment_materials] ([material_id], [comment_id]) VALUES (2, 2)
INSERT [dbo].[comment_materials] ([material_id], [comment_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([comment_id], [text], [date_create], [author_id]) VALUES (1, N'еее я из села', CAST(N'2012-12-12' AS Date), 1)
INSERT [dbo].[comments] ([comment_id], [text], [date_create], [author_id]) VALUES (2, N'еее я из города', CAST(N'2014-12-12' AS Date), 2)
INSERT [dbo].[comments] ([comment_id], [text], [date_create], [author_id]) VALUES (3, N'еее', CAST(N'2017-12-12' AS Date), 3)
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([department_id], [department_name], [department_description], [department_boss_id]) VALUES (1, N'отдел эрзи', N'лучший отдел', NULL)
INSERT [dbo].[departments] ([department_id], [department_name], [department_description], [department_boss_id]) VALUES (2, N'отдел мокши', N'худший отдел', NULL)
INSERT [dbo].[departments] ([department_id], [department_name], [department_description], [department_boss_id]) VALUES (3, N'отдел татар', N'худший отдел', NULL)
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([employee_id], [department_id], [last_name], [first_name], [patronymic], [birth_date], [post], [office], [personal_phone], [work_phone], [qual_lvl], [date_start], [date_end], [corporative_email], [manager_id], [password]) VALUES (1, 1, N'Парвадов', N'Павел', N'Юрьевич', CAST(N'2007-04-13' AS Date), N'Глава', N'100', N'+79530221568', N'888-777', N'Высшая', CAST(N'2022-12-12' AS Date), NULL, N'pavel@gmail.com', NULL, N'pavel')
INSERT [dbo].[employees] ([employee_id], [department_id], [last_name], [first_name], [patronymic], [birth_date], [post], [office], [personal_phone], [work_phone], [qual_lvl], [date_start], [date_end], [corporative_email], [manager_id], [password]) VALUES (2, 2, N'Парвадов', N'Станислав', N'Сергеевич', CAST(N'2008-05-13' AS Date), N'Политик', N'999', N'+7999432422', N'333-77777', N'Высшая', CAST(N'2021-12-12' AS Date), CAST(N'2025-02-22' AS Date), N'stas@gmail.com', NULL, N'stas')
INSERT [dbo].[employees] ([employee_id], [department_id], [last_name], [first_name], [patronymic], [birth_date], [post], [office], [personal_phone], [work_phone], [qual_lvl], [date_start], [date_end], [corporative_email], [manager_id], [password]) VALUES (3, 3, N'Иванов', N'Иван', N'иванович', CAST(N'2008-01-14' AS Date), N'Помощник', N'10111', N'+7955552422', N'111-777', N'Высшая', CAST(N'2024-12-12' AS Date), CAST(N'2025-02-22' AS Date), N'ivan@gmail.com', NULL, N'ivan')
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
INSERT [dbo].[event_materials] ([event_id], [material_id]) VALUES (1, 1)
INSERT [dbo].[event_materials] ([event_id], [material_id]) VALUES (1, 2)
INSERT [dbo].[event_materials] ([event_id], [material_id]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[event_types] ON 

INSERT [dbo].[event_types] ([type_event_id], [type_event_name]) VALUES (1, N'Отгул')
INSERT [dbo].[event_types] ([type_event_id], [type_event_name]) VALUES (2, N'Обучение')
INSERT [dbo].[event_types] ([type_event_id], [type_event_name]) VALUES (3, N'Отпуск')
SET IDENTITY_INSERT [dbo].[event_types] OFF
GO
SET IDENTITY_INSERT [dbo].[events] ON 

INSERT [dbo].[events] ([event_id], [event_description], [type_event_id], [date_start], [date_end], [employee_id]) VALUES (1, N'описание', 1, CAST(N'2024-12-12' AS Date), CAST(N'2025-12-12' AS Date), 1)
INSERT [dbo].[events] ([event_id], [event_description], [type_event_id], [date_start], [date_end], [employee_id]) VALUES (2, N'описание2', 2, CAST(N'2024-11-12' AS Date), CAST(N'2024-12-12' AS Date), 2)
INSERT [dbo].[events] ([event_id], [event_description], [type_event_id], [date_start], [date_end], [employee_id]) VALUES (3, N'описание3', 3, CAST(N'2025-11-12' AS Date), CAST(N'2027-12-12' AS Date), 3)
SET IDENTITY_INSERT [dbo].[events] OFF
GO
SET IDENTITY_INSERT [dbo].[incidents] ON 

INSERT [dbo].[incidents] ([incident_id], [title], [description], [date_start], [date_end], [author_id]) VALUES (1, N'Совещание директоров', N'На днях прошло важное совещание', CAST(N'2024-12-12' AS Date), CAST(N'2024-12-12' AS Date), 1)
INSERT [dbo].[incidents] ([incident_id], [title], [description], [date_start], [date_end], [author_id]) VALUES (2, N'Тринадцатая зарплата', N'В честь дня транспортных дорог директор принял решение порадовать сотрудников', CAST(N'2025-01-12' AS Date), CAST(N'2025-12-12' AS Date), 2)
INSERT [dbo].[incidents] ([incident_id], [title], [description], [date_start], [date_end], [author_id]) VALUES (3, N'Компания обанкротилась', N'Акции компании продают дешевле туалетной бумаги', CAST(N'2024-07-22' AS Date), CAST(N'2024-12-12' AS Date), 3)
SET IDENTITY_INSERT [dbo].[incidents] OFF
GO
INSERT [dbo].[incidents_responsible_persons] ([incident_id], [employee_id]) VALUES (1, 2)
INSERT [dbo].[incidents_responsible_persons] ([incident_id], [employee_id]) VALUES (2, 1)
INSERT [dbo].[incidents_responsible_persons] ([incident_id], [employee_id]) VALUES (3, 3)
GO
INSERT [dbo].[managers] ([manager_id], [employee_id]) VALUES (1, 2)
INSERT [dbo].[managers] ([manager_id], [employee_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[materials] ON 

INSERT [dbo].[materials] ([material_id], [author_id], [title], [type_material], [description], [date_start]) VALUES (1, 1, N'Корпоратив', N'Корпоратив', N'было весело', CAST(N'2012-12-12' AS Date))
INSERT [dbo].[materials] ([material_id], [author_id], [title], [type_material], [description], [date_start]) VALUES (2, 2, N'ДР', N'ДР', N'было весело', CAST(N'2011-11-12' AS Date))
INSERT [dbo].[materials] ([material_id], [author_id], [title], [type_material], [description], [date_start]) VALUES (3, 2, N'Совещание', N'Совещание', N'было весело', CAST(N'2011-12-12' AS Date))
SET IDENTITY_INSERT [dbo].[materials] OFF
GO
SET IDENTITY_INSERT [dbo].[news] ON 

INSERT [dbo].[news] ([news_id], [date_news], [title], [description], [path_to_photo]) VALUES (1, CAST(N'2024-12-12' AS Date), N'Новая дорога в Пензе', N'В Пензе открыли необычную дорогу', N'static/дорога 1.jpg')
INSERT [dbo].[news] ([news_id], [date_news], [title], [description], [path_to_photo]) VALUES (2, CAST(N'2024-10-12' AS Date), N'Новая дорога в Каменке', N'В Каменке открыли классную дорогу', N'static/дорога 2.jpg')
INSERT [dbo].[news] ([news_id], [date_news], [title], [description], [path_to_photo]) VALUES (3, CAST(N'2024-08-12' AS Date), N'Новая дорога в Кузнецке', N'В Кузнецке открыли хорошую дорогу', N'static/дорога 3.jpg')
SET IDENTITY_INSERT [dbo].[news] OFF
GO
INSERT [dbo].[sub_departments] ([main_department_id], [sub_department_id]) VALUES (1, 2)
INSERT [dbo].[sub_departments] ([main_department_id], [sub_department_id]) VALUES (1, 3)
INSERT [dbo].[sub_departments] ([main_department_id], [sub_department_id]) VALUES (1, 4)
GO
ALTER TABLE [dbo].[comment_materials]  WITH CHECK ADD  CONSTRAINT [FK_comment_materials_comments] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comments] ([comment_id])
GO
ALTER TABLE [dbo].[comment_materials] CHECK CONSTRAINT [FK_comment_materials_comments]
GO
ALTER TABLE [dbo].[comment_materials]  WITH CHECK ADD  CONSTRAINT [FK_comment_materials_materials] FOREIGN KEY([material_id])
REFERENCES [dbo].[materials] ([material_id])
GO
ALTER TABLE [dbo].[comment_materials] CHECK CONSTRAINT [FK_comment_materials_materials]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_employees] FOREIGN KEY([author_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_employees]
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD  CONSTRAINT [FK_departments_employees] FOREIGN KEY([department_boss_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[departments] CHECK CONSTRAINT [FK_departments_employees]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employees_departments]
GO
ALTER TABLE [dbo].[event_materials]  WITH CHECK ADD  CONSTRAINT [FK_event_materials_events] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
GO
ALTER TABLE [dbo].[event_materials] CHECK CONSTRAINT [FK_event_materials_events]
GO
ALTER TABLE [dbo].[event_materials]  WITH CHECK ADD  CONSTRAINT [FK_event_materials_materials] FOREIGN KEY([material_id])
REFERENCES [dbo].[materials] ([material_id])
GO
ALTER TABLE [dbo].[event_materials] CHECK CONSTRAINT [FK_event_materials_materials]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK_events_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK_events_employees]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK_events_event_types] FOREIGN KEY([type_event_id])
REFERENCES [dbo].[event_types] ([type_event_id])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK_events_event_types]
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD  CONSTRAINT [FK_incidents_employees] FOREIGN KEY([author_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[incidents] CHECK CONSTRAINT [FK_incidents_employees]
GO
ALTER TABLE [dbo].[incidents_responsible_persons]  WITH CHECK ADD  CONSTRAINT [FK_incidents_responsible_persons_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[incidents_responsible_persons] CHECK CONSTRAINT [FK_incidents_responsible_persons_employees]
GO
ALTER TABLE [dbo].[incidents_responsible_persons]  WITH CHECK ADD  CONSTRAINT [FK_incidents_responsible_persons_incidents] FOREIGN KEY([incident_id])
REFERENCES [dbo].[incidents] ([incident_id])
GO
ALTER TABLE [dbo].[incidents_responsible_persons] CHECK CONSTRAINT [FK_incidents_responsible_persons_incidents]
GO
ALTER TABLE [dbo].[managers]  WITH CHECK ADD  CONSTRAINT [FK_managers_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[managers] CHECK CONSTRAINT [FK_managers_employees]
GO
ALTER TABLE [dbo].[managers]  WITH CHECK ADD  CONSTRAINT [FK_managers_employees1] FOREIGN KEY([manager_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[managers] CHECK CONSTRAINT [FK_managers_employees1]
GO
ALTER TABLE [dbo].[materials]  WITH CHECK ADD  CONSTRAINT [FK_materials_employees] FOREIGN KEY([author_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[materials] CHECK CONSTRAINT [FK_materials_employees]
GO
ALTER TABLE [dbo].[sub_departments]  WITH CHECK ADD  CONSTRAINT [FK_sub_departments_departments] FOREIGN KEY([main_department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[sub_departments] CHECK CONSTRAINT [FK_sub_departments_departments]
GO
ALTER TABLE [dbo].[sub_departments]  WITH CHECK ADD  CONSTRAINT [FK_sub_departments_departments1] FOREIGN KEY([sub_department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[sub_departments] CHECK CONSTRAINT [FK_sub_departments_departments1]
GO
USE [master]
GO
